<div id="<%= dom_id email_alert %>">
  <p>
    <strong>User:</strong>
    <%= email_alert.user_id %>
  </p>

  <p>
    <strong>Base currency:</strong>
    <%= email_alert.base_currency %>
  </p>

  <p>
    <strong>Quote currency:</strong>
    <%= email_alert.quote_currency %>
  </p>

  <p>
    <strong>Comparison operator:</strong>
    <%= email_alert.comparison_operator %>
  </p>

  <p>
    <strong>Multiplier:</strong>
    <%= email_alert.multiplier %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= email_alert.active %>
  </p>

  <p>
    <strong>Unsubscribed at:</strong>
    <%= email_alert.unsubscribed_at %>
  </p>

  <p>
    <strong>Last sent at:</strong>
    <%= email_alert.last_sent_at %>
  </p>

</div>
