<% content_for :title, "New email alert" %>

<h1>New email alert</h1>

<%= render "form", email_alert: @email_alert %>

<br>

<table>
  <tr>
    <td>date</td>
    <td>rate</td>
    <td>trigger</td>
  </tr>
  <% @last_six_days.each do |day, key| %>
    <tr>
      <td><%= day %></td>
      <td><%= @last_six_days[day][:current_rate] %></td>
      <td><%= @last_six_days[day][:triggered].to_s %></td>
    </tr>
  <% end %>
</table>

<div>
  <%= link_to "Back to email alerts", email_alerts_path %>
</div>
